.search-text-select  {
    height: 20px;
    background-color: rgb(58, 59, 87);
    border: none;
    padding: 10px;
    outline-width: 0;
    color: #fff;
  background-color: rgb(58, 59, 87);
  border: none;
  padding: 10px;
  outline-width: 0;
  color: #fff;
  }
  .search-text-select .MuiInputBase-input
  {
    color: #fff ;
  
  }
  .search-text-select .MuiSelect-select:not([multiple]) option, .MuiSelect-select:not([multiple]) optgroup {
    color : #000;
    font-size: large;
  }

  .search-text-select .MuiSelect-icon  {

    color: white
  }

  .search-button {
    margin-left: 10px;
    width: 140px !important;
    font-size: large !important;
  }

  .task-management-body .MuiSvgIcon-root{
  font-size: large;
  margin-left:5px;
  vertical-align:bottom;

    }
    .selected {
    color :rgb(12, 165, 160);
    cursor: pointer;

  }
  .selected-values{
    color : rgb(12, 165, 160);
  }

  .credit-button {
    margin: 0 5px ;
    width: 25px;
    background: none;
    color: white;
    border: none
}